/*Import da Fonte no google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&family=Noto+Sans:wght@200;300;400;500;600;700&display=swap');

/*aplica a fonte para toda a página*/
body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

/*define uma "colisão" com o tamanho d todos elementos do body*/
body * {
    box-sizing: border-box;
}

.main-signin{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    /*centralização das divs e texto*/
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left-signin{
    width: 50vw;
    height: 100vh;
    display: flex;
    /*centraliza as divs e textos da div a direita*/
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#e33333;
}

.card-signin{
    width: 60%;
    display: flex;
    /*centraliza os elementos da card de login*/
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 30px 35px;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.login-logo-img{
    /*torna a img responsiva*/
    width: 10vw;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: center;
    margin: 10px 0px
}

/*design dos inputs*/
.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #E3E3E3;
    color: #1e1e1e;
    font-size: 12pt;
    box-shadow: 0px 10px 80px #85858556;
    outline: none;
    box-sizing: border-box;
}

/*design dos labels*/
.textfield > label{
    color: #1e1e1e;
    margin-bottom: 10px;
    font-weight: 600;
}

/*cor específica do PLACEHOLDER dos inputs*/
.textfield > input::placeholder{
    color: rgb(102, 102, 102);
}

.btn-signin{
    /*margens e bordas do botão*/
    width: 90%;
    padding: 16px;
    margin: 15px;
    border: solid #e33333;
    border-radius: 8px;
    outline: none;
    /*texto do botão*/
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    /*cor, ponteiro reativo ao passar por cima e sombra do botão*/
    background: #e33333;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px palevioletred;
    transition-duration: 0.3s;
}

.btn-signin:hover{
    background-color: white;
    color: #e33333;
    border: solid #e33333;
}

.right-signin{
    width: 50vw;
    height: 100vh;
    display: flex;
    /*centralização das divs e texto da div a esquerda*/
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    /*caso deseje implementar algo além da imagem q vai aqui,
    e queira colocar este algo em alguma direção específica em
    relação ao elemento principal usar flex-direction*/
}

.right-signin > h1{
    width: 36vw;
    text-align: left;
    color: #e33333;
    margin:0;
    font-size: 3vw;
}

.right-signin  > h2{
    width: 36vw;
    text-align: left;
    color: #1e1e1e;
    margin:0;
    font-size: 1.5vw;
}

.right-signin-img{
    /*torna a img responsiva*/
    width: 30vw;
}